@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Oswald', sans-serif;
  transition: text-decoration 0.4s;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
}
section.plan{
  min-height: 100vh;
}
.text{
  color: #34495e;
}
.display-3{
  font-weight: 500;
}

header .active{
  color: #2980b9;
}

footer{
  background-color: #34495e;
}

